<div class="titulo">
  <h1>Listado de Tareas de Ayelen</h1>
</div>

<div class="cargaDeTareas">
  <input type="text" name="Tareas" placeholder="Inserte la tarea">
  <button>Add</button>
</div>

<div class="listadoTareas">
  <label for=""><input type="checkbox" name="tarea1"> Task 1 <button class="buttonIcon"><img class="icon" src="https://img.icons8.com/external-bartama-outline-32-bartama-graphic/32/000000/external-bin-e-mail-bartama-outline-32-bartama-graphic.png"/></button></label>
  <label for=""><input type="checkbox" name="tarea1"> Task 2 <button class="buttonIcon"><img class="icon" src="https://img.icons8.com/external-bartama-outline-32-bartama-graphic/32/000000/external-bin-e-mail-bartama-outline-32-bartama-graphic.png"/></button></label>
  <label for=""><input type="checkbox" name="tarea1"> Task 3 <button class="buttonIcon"><img class="icon" src="https://img.icons8.com/external-bartama-outline-32-bartama-graphic/32/000000/external-bin-e-mail-bartama-outline-32-bartama-graphic.png"/></button></label>
</div>
